/*  your css code here. If applicable */
 .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
  }

  .board div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    cursor: pointer;
  }